<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UberEats_Upload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <UberEats_Upload.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="sendEmail" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="email_to" serializeAs="String">
                <value>XXX@XXXX.com</value>
            </setting>
            <setting name="email_from" serializeAs="String">
                <value>XXXXX@XXX.com</value>
            </setting>
            <setting name="email_username" serializeAs="String">
                <value>XXXXX</value>
            </setting>
            <setting name="email_password" serializeAs="String">
                <value>XXXXXX</value>
            </setting>
            <setting name="FTPS_Host" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="FTPS_Login" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="FTPS_Password" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="RemoveFilesFromFTPS_AfterDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="file_path" serializeAs="String">
                <value>C:\Users\mgolendzinowski\Desktop\20210906 UberEats_FileUpload\foldery\file_path\</value>
            </setting>
            <setting name="log_path" serializeAs="String">
                <value>C:\Users\mgolendzinowski\Desktop\20210906 UberEats_FileUpload\foldery\log_path\</value>
            </setting>
            <setting name="folder_path" serializeAs="String">
                <value>C:\Users\mgolendzinowski\Desktop\20210906 UberEats_FileUpload\foldery\folder_path\</value>
            </setting>
            <setting name="WorkingDir" serializeAs="String">
                <value>C:\Users\mgolendzinowski\Desktop\20210906 UberEats_FileUpload\foldery\WorkinDir\</value>
            </setting>
            <setting name="ArchiveDir" serializeAs="String">
                <value>C:\Users\mgolendzinowski\Desktop\20210906 UberEats_FileUpload\foldery\ArchiveDir\</value>
            </setting>
            <setting name="FilesFromFTPS" serializeAs="String">
                <value>C:\Users\mgolendzinowski\Desktop\20210906 UberEats_FileUpload\foldery\FilesFromFTPS\</value>
            </setting>
            <setting name="ErrorDir" serializeAs="String">
                <value>C:\Users\mgolendzinowski\Desktop\20210906 UberEats_FileUpload\foldery\ErrorDir\</value>
            </setting>
            <setting name="dba_username" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="dba_name" serializeAs="String">
                <value>CNC</value>
            </setting>
            <setting name="dba_hostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="dba_password" serializeAs="String">
                <value>Burger2020!@#</value>
            </setting>
        </UberEats_Upload.Properties.Settings>
       
    </applicationSettings>
</configuration>